body{
    background: #525B76;
display: flex;
justify-content: center;
align-items: center;
}
.card{
    display: flex;
    justify-content: center;
      color: #C4F1BE;
    
}

.socialaccountsicon:hover{
    transform: scale(1.1);

} 
.backbutton{
    position: sticky;
   bottom: 100%;
   

}
svg{
   width: 32px; 
   height:32px;
   fill: #C4F1BE;

}

a{
    color:#C4F1BE;
    font-weight: bold;
}a:hover{
    transform: scale(1.1);
}
.socialaccounts{
    display: flex;
    gap: 20px;
    justify-content: center;
}
form{
    font-size: x-large;
}




input{
    background:#C4F1BE ;
    width: 100%;
    height: 30px;
    color: #525B76;
}
fieldset{
    border: 4px solid #C4F1BE;

}
legend{
    font-size: 50px; 
}
button{
    background: #C4F1BE;
    border:2px solid #525B76;
    border-radius: 12px;
    width: 100%;
    height: 30px;
    color: #525B76;
    font-size: large;
    font-weight: bold;
}button:hover{
    transform: scale(1.05);
}


